.pragmatic_header_logo{
    margin: 2rem 0;
    font-family: 'Bona Nova', serif;

}

.pragmatic_header_button{
    margin-bottom: 2rem;
}

.pragmatic_footer_logo{
   margin-top: 2rem ;
    font-family: 'Bona Nova', serif;
}
.pragmatic_footer_button{
    margin-bottom: 2rem ;
}



