.pragmatic_header_logo{
    margin: 2rem 0;
    font-family: 'Bona Nova', serif;
    line-height: 1.2;
}

.pragmatic_header_button{
    margin-bottom: 2rem;
}

.pragmatic_footer_logo{
   margin-top: 2rem ;
    font-family: 'Bona Nova', serif;
}
.pragmatic_footer_button{
    margin-bottom: 2rem ;
}


.mw-500 {
    max-width : 500px;
    margin: 1rem 1.5rem;
    line-height: 3.5;
}


